
.Event-list-item {
    border-bottom:1px solid #e5e5e5;
    padding:12px 0px;

}

.Event-add {
    border:none !important;
    background:none !important;
}

.Event-add-icon {
    font-size:25px;
    padding-right:5px;
}