.App-header {
//   background-color: #f1c40f;
//   background-color: #f39c12;
  // background-color:#f6e58d;
  // background-color:#c7ecee;
  // background-color:#dff9fb;
  // background-color:#95afc0;
  // height: 64px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // color: white;
  // align-items:flex-start;
  // padding: 0 3rem;
  display:flex;
  justify-content:space-between;
  background:#fdcb6e;
  padding:5px;
}

.App-header-left {
  display:flex;
  flex-direction:row;
  align-items: center;
}

// .App-header-nav{
// }


.App-title {
  font-size: 20px;
  margin-right:10px;
}
a.App-header-nav--active {
  &:link, &:visited{
  color:white;

  }
}

