.App-header {
//   background-color: #f1c40f;
//   background-color: #f39c12;
  // background-color:#f6e58d;
  // background-color:#c7ecee;
  // background-color:#dff9fb;
  background-color:#95afc0;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items:flex-start;
  padding: 0 3rem;
}

