.App-header {
//   background-color: #f1c40f;
//   background-color: #f39c12;
  // background-color:#f6e58d;
  // background-color:#c7ecee;
  // background-color:#dff9fb;
  // background-color:#95afc0;
  // height: 64px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // color: white;
  // align-items:flex-start;
  // padding: 0 3rem;
  display:flex;
  justify-content:space-between;
  background:#fdcb6e;
  padding:5px;
}


.App-title {
  font-size: 20px;
}

.App-login {
  // flex-grow: 1;
}

.App-toolbar {
  justify-content:space-between;
}